.App{
    height: 100vm;
    display: flex;
    padding: 20px;
    gap: 40px;
    
}
.custom-scroll::-webkit-scrollbar{
    width: 8px;
}
.custom-scroll::-webkit-scrollbar-track{
    background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: lightgray;
    transition: 300px;
}
.custom-scroll::-webkit-scrollbar-thumb-hover{
    background-color: grey;
}